/*login css*/

.login-container {
    max-width: 700px;
    margin-top: 50px;
    margin: auto;
    height: 370px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.btn-primary {
    background-color: #FFB6C1;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}

.btn-primary:hover {
    background-color: #45a049;
}

.btn-sm {
    margin-top: 0px;
}

.btn-sm:hover {
    background-color: #45a049;
}

.password {
    padding-top: 20px;
}

.signupblock {
    margin-top: 30px;
}

input {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    margin-bottom: 8px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.nav-link {
    text-decoration: none;
}